extends layout

block content
  h1= title
  #posts
      - each post in posts
        div.post
          div.created_at= post.source
          div.title= post.name
          div.body= post.content
          p= post.cluster_assignment
          table(border="1px")
            tr
            - each entry in post.topic_distribution
              td= entry
